#content {
  display: flex;
  justify-content: center;
}

#page_title {
  display: flex;
  justify-content: center;
}

.utils {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  width: 30vh;
  margin: 20px 0px 20px 0px;
  padding: 10px; 
  overflow: hidden;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
}

.clear-btn { 
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

.hpc {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid grey;
  margin-bottom: 15px;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75vh ;
  overflow: hidden;
}

p {
  display: flex;
  justify-content: center;
  margin: 0rem;
}
